# Binaries
**/bin/
bin-int/
Intermediates/

# Dooda files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user 
**.csproj

# Directories
Dooda/vendor/VulkanSDK
Adood/assets/cache
scripts/__pycache__ 
